#Linux
*~

#Windows
Thumbs.db

#Arquivos gerados pelo gradle
.gradle/
build/

#Arquivo gerado pela task 'uploadArchives' do plugin 'maven'
repo/

#Arquivo gerado pela task 'eclipse' do plugin 'eclipse'
.project
.classpath
.settings/
bin/

#Arquivo gerado na pasta 'docs'
.~lock.*.docx#

